*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #0d1117;
  display: grid;
  place-items: center;
  padding: 1rem;
}

#root{
  display: grid;
  place-items: center;
}

.control-btns{
  display: flex;
  align-items: center;
}
button{
  width: 10rem;
  height: 3rem;
  padding: .5rem 1rem;
  border: none;
  margin: 1rem 2rem;
  cursor: pointer;
}
.start-btn{
  background-color: rgb(55, 151, 87);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid rgb(182, 181, 181);
  color: white;
}
.stop-btn{
  background-color: rgb(175, 40, 74);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid rgb(182, 181, 181);
  color: white;
}
.clear-btn{
  background-color: rgb(40, 103, 175);
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid white ;
  color: white;
}

.pattern{
  background-color: #d3d3d3;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.grid{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(60, 20px);
}

.case{
  width: 20px;
  height:20px;
  border: 1px solid #999;
}


.on{
  background-color: white;
}