* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #243146;
    display: grid;
    place-items: center;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}
.intro *:not(.intro p:first-of-type) {
    margin-bottom: 2rem;
}

p {
    max-width: 75ch !important;
}
.intro h1 {
    font-size: 2.5rem;
    text-align: center;
}
.read-more {
    display: block;
    text-align: right;
    outline: none;
    text-decoration: none;
    font-size: 0.9rem;
    color: #00caff;
    margin-top: 1rem;
}
.read-more:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.start {
    margin: 0;
    align-self: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #243146;
    border: 2px solid white;
    transition: 0.3s all ease;
}

.start:hover {
    background-color: #243146;
    color: white;
    border: 2px solid white;
}

.fading {
    opacity: 1;
    animation: fade-out 0.3s ease forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.app {
    opacity: 0;
    display: flex;
    align-items: center;
    animation: fade-in 0.3s ease forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.control-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(40 * 20px);
    margin-right: 3rem;
}

.check-cont {
    display: flex;
    align-items: center;
    color: white;
    height: 2rem;
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
.check {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 1rem;
}
input[type="checkbox"]:checked ~ .check{
  background-color: rgb(55, 151, 87);
}

button {
    width: 10rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
}
.start-btn {
    background-color: rgb(55, 151, 87);
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid rgb(182, 181, 181);
    color: white;
}
.stop-btn {
    background-color: rgb(175, 40, 74);
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid rgb(182, 181, 181);
    color: white;
}
.clear-btn {
    background-color: rgb(40, 103, 175);
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid white;
    color: white;
}

input {
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    width: 10rem;
    outline: none;
    margin: 1rem 0;
}

.pattern {
    background-color: #d3d3d3;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.grid {
    height: 100%;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(60, 20px);
}

.case {
    width: 20px;
    height: 20px;
}

.on {
    background-color: white;
}

.border {
    border: 1px solid #999;
}
